{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
    </span>
    {{ volunteering.title }}
  </h2>

  {% if volunteering.intro %}
  <div class="intro">
      <p>{{ volunteering.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for action in volunteering.actions %}
    <div class="item">
      {% if action.link != None %}
        <a href="{{ action.link }}">{{ action.title }}</a>
      {% else %}
        {{ action.title }}
      {% endif %}
    {% if action.conductedIn != None %}
      <div class="publication-conference">{{ action.conductedIn }}</div>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
